<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RestaurantMenuController</servlet-name>
        <servlet-class>controller.RestaurantMenuController</servlet-class>
        <init-param>
            <param-name>driverClassName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>    
        </init-param>
        
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/restaurant</param-value>    
        </init-param>        
        <init-param>
            <param-name>userName</param-name>
            <param-value>root</param-value>    
        </init-param>
        
        <init-param>
            <param-name>password</param-name>
            <param-value>dawn00</param-value>    
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestaurantOrderController</servlet-name>
        <servlet-class>controller.RestaurantOrderController</servlet-class>
                <init-param>
            <param-name>driverClassName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>    
        </init-param>
        
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/restaurant</param-value>    
        </init-param>        
        <init-param>
            <param-name>userName</param-name>
            <param-value>root</param-value>    
        </init-param>
        
        <init-param>
            <param-name>password</param-name>
            <param-value>dawn00</param-value>    
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestaurantAdminController</servlet-name>
        <servlet-class>controller.RestaurantAdminController</servlet-class>
        <init-param>
            <param-name>driverClassName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>    
        </init-param>
        
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/restaurant</param-value>    
        </init-param>        
        <init-param>
            <param-name>userName</param-name>
            <param-value>root</param-value>    
        </init-param>
        
        <init-param>
            <param-name>password</param-name>
            <param-value>dawn00</param-value>    
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestaurantDBController</servlet-name>
        <servlet-class>controller.RestaurantDBController</servlet-class>
                <init-param>
            <param-name>driverClassName</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>    
        </init-param>
        
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/restaurant</param-value>    
        </init-param>        
        <init-param>
            <param-name>userName</param-name>
            <param-value>root</param-value>    
        </init-param>
        
        <init-param>
            <param-name>password</param-name>
            <param-value>dawn00</param-value>    
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestaurantMenuController</servlet-name>
        <url-pattern>/RestaurantMenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantOrderController</servlet-name>
        <url-pattern>/RestaurantOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantAdminController</servlet-name>
        <url-pattern>/RestaurantAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantDBController</servlet-name>
        <url-pattern>/RestaurantDBController</url-pattern>
    </servlet-mapping>
    <!-- Application specific initializtion parameters -->
    <context-param>
        <param-name>email</param-name>
        <param-value>dpaasch@my.wctc.edu</param-value>
    </context-param>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
